.super-mario {
    width: 200px;
    position: absolute;
    top: 108px;
    left: 90px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 419px;
    left: 142px;
  }
  
  .baloon {
    position: absolute;
    top: 246px;
    left: 434px;
  }
  
  .speach {
    font-size: 25px;
    position: relative;
    top: 42px;
    left: 449px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: relative;
    top: 328px;
    left: 736px;
  }