h1 {
    font-size: 65px; 
    color: orange;
    font-family: sans-serif;
 }

 body {
     font-size: 16px;
 }
 p {
     font-size: 3em;
     font-weight: 600px;
     background-color: rgb(30, 228, 73);
     font-style: italic;
     line-height: 80%;
     text-align: center;
     text-decoration:underline ;
 }

 #vermelho{
     background-color: red;
 }

 
 #amarelo{
     background-color: yellow;
 }
 
 #rosa{
     background-color: pink;
 }
